/* styles.css */
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: #111;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #444;
    color: #fff;
    border: 2px solid #666;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .container{
    display:flex;
    align-items: center;
  }

  button:focus {
    outline: none;
  }
  