
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.people-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.person {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.person h2 {
  margin-top: 0;
}

.person p {
  margin-bottom: 0;
}


  
  img {
    width: 150px;
    height: 150px;
    
    margin-right: 20px;
  }
  
  .voltar-sair{
    width: 70px;
    height: 70px;
    display: flex;
    margin:auto;
  }
  